<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <p>Bienvenue ! La liste des potins arrive bientôt, mais en attendant vous pouvez <a href="/gossips/new/">créer un nouveau potin</a> !!</p>

 <% gossips.each_with_index do |gossip, id| %>
        <p><br/><br/><hr><hr/><br/><br/>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
        <a href="/gossips/<%=id%>/">Les liens</a>
      <% end %>

  </body>
</html>

