<html>
    <head>
        <title>Gossip index</title>
    </head>
    <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°<%= id %></p>
    <p>Son auteur : <%= gossip.author %></p>
    <p>Le contenu du potin : <%= gossip.content %></p>
    <p>Retour à la page des potins : <a href="/">cliquez</a></p>
    </body>
</html>